div.left-side {
    float: left;
}

div.right-side {
    float: left;
    position: relative;
    left: -6px;
}


div.sidebar {
}

div.credits{    
    color: #999;
    font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size: 10px;
    font-style: italic;
}

div#legend {
    position: relative;
    top: 2px;
    left: 1px;
    
    border: 1px solid #898989;
}


/*.legendEntry:hover {
    background-color: #f7eEe5;
    border: 1px solid #b76E65;
}

.legendEntry:active {
    background-color: #873E35;
    color: #fff;
}*/

/* Graphs */
div.graph {
    width: 600px;
    height: 200px
}

/* Toolbar */
.logo img {
    margin-left: 1px;
    
    /*border: 1px solid #898989;*/
}

div.toolbar {
    position: relative;
}

div.tool {
    }

.tool {
    position: relative;
    padding: 7px 0 7px 0;
    
    cursor: pointer;
    
    margin: 1px 1px 1px 1px;
    border: 1px solid #898989;
    padding:5px 10px 6px 7px;

    color: #873E35;
    /*background-color: #f5f5f5;*/
    
    font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    
    line-height: 130%;
    
    
}

.tool img{
    margin: 0 3px -3px 0 !important;
    padding: 0;
    border: none;
    
    width: 16px;
    height: 16px;
}

.tool:hover {
    color: #873E35;
    background-color: #f7eEe5;
}

.tool:active {
    color:#fff;
    background-color: #873E35;
}

/*.tool ::selection {
	background: #cc0000;
	color:#fff;
}

.tool .moz::-moz-selection {
	background:#cc0000;
	color:#fff;
}

.tool .webkit::-webkit-selection {
	background:#cc0000;
	color:#fff;
}*/