body {    
    font-family: Georgia, Serif;
}

.title {
    float: left;
}

h1 {
    font-size: 48px;
}

.dijitLayoutContainer {
    overflow: visible !important;
}

.dijitTab {
    width: 100px;
}

.nihilo .dijitTabCloseButton {
    float: right;
    margin-top: 3px;
}